@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* Colors */
  --color-blue: #2622ff;
  --color-white: #fff;

  /* Paddings */
  --padding-3xs: 1%;
  --padding-4xl: 1%;
}

.logo {
    position: relative;
    font-weight: 600;
  }

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-4xl) var(--padding-3xs) 0;
  }



  .headercolored,
  .headercolored-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }



  .headercolored,
  .headercolored-inner {
    align-items: center;
    font-size: 18px;
    color: var(--color-blue);
  }

  .headercolored {
    position: relative;
    background-color: var(--color-blue);
    box-shadow: 10vw 10vh 18vw rgba(0, 0, 0, 0.18);
    width: 100%;
    justify-content: space-between;
    padding: 1% 6%;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.4vw;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  
  
.cv-application{
  display: flex;
    width: 100%; 
    height: 100vh;
}

.forms-style{
  flex: 1;
  max-width: 40%; 
  height: 100%;

}
.anose{
  margin: 0 auto;
  padding: 5%;
  flex: 1;
  max-width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
}
.cv-page{
  margin: 0 auto;
  flex: 1;
  max-width: 21cm;
  height: 29.6cm; 
  display: flex;
  justify-content: center;
}



.GeneralhtmlForm {
  position: relative;
  height: auto;
  width: 25vw;
  margin: auto;
}

.general-form-style {
  width: 70%;
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-inter);
}

.general-form-title{
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.general-form-style div {
  margin-bottom: 20px;
}

.general-form-style label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #495057;
}

.general-form-style input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none; /* Remove the default focus outline */
  transition: border-color 0.3s ease-in-out;
}

.general-form-style input:focus {
  border-bottom-color: #3498db;
}

.general-form-style button {
  width: 100%;
  background-color: var(--color-blue);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.general-form-style button:hover {
  background-color: #267bb6;
}


.cv-sheet {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  width: 100%;
  background-color: #e4e3e3; /* Color de fondo general */
  overflow: hidden
}

.left-side {
  flex: 1;
  background-color: #3F909C;
  height: fit-content; /* Color de fondo para la sección izquierda */
  color: #fff; /* Color del texto para la sección izquierda */
  padding: 4%;
  box-sizing: border-box;
}

.right-side {
  flex: 2; /* Ajusta el factor de flexibilidad según tus preferencias */
  background-color: rgb(243, 243, 243); /* Color de fondo para la sección derecha */
  padding: 4%;
  box-sizing: border-box;
}

.general-section h1,
.study-section h1,
.practice-section h1 {
  color: #333; /* Color del título de las secciones */
}
.general-section{
  text-wrap: break-word;
}
.general-section h1 {
  font-size:  2.5vw;
  color: #333;
  display: inline-block;
  width: fit-content; /* Ajusta el ancho al contenido sin cambiar el tamaño del texto */
}

ul {
  
  padding: 0;
  margin-left: 10%;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}
